.nav{
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            height: 100%;
            display: block;
            text-align: center;
            display: block;
            padding:5px 0 0;
            &:hover{
                background: $light-color;
            }
            button{
                width: 100px;
            }
            &.logName > button:nth-child(2){
                display: none;
            }
            &.logName:hover > button:nth-child(1){
                display: none;
            }
            &.logName:hover > button:nth-child(2){
                cursor: pointer;
                display: block;
            }

        }
        img{
            width: 100px;
            height: 100px;
        }
    }
}
button{
    &:hover{
        cursor: pointer;
    }
}
.closeAuth{
    position: absolute;
    right: 10px;
    top: 5px;
}
.Overlay{
    background-color: red;
}
.authForm{
    display: flex;
    flex-direction: column;
    input{
        line-height: 26px;
        font-size: 16px;
        border: 1px solid #e6e6e6;
        margin-top: 26px;
    }
    img{
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    ul{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        button{
            border-radius: 50%;
            background: transparent;
        }
    }
    .signInBtn{
        width: 40%;
        display: block;
        margin: 40px auto 0 ;
        border: 1px solid #e6e6e6;
    }
}
.authTitle {
    text-align: center;
}
